html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    color: #1b1454;
    width: 100%;
}

/* ---- NAVBAR STYLES ---- */

header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 3rem;
    font-size: 18px;
    font-weight: 400;
}

.navbar .logo-container {
    display: flex;
}

.navbar .logo-container p {
    line-height: 23px;
    margin-top: 29px;
    color: #1b1454;
}

.navbar .logo-container img {
    width: 65px;
    padding-right: 15px;
}

.change-language {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.change-language img {
    width: 40px;
    margin-right: 8px;
}

.menu {
    display: flex;
}

.navbar .menu a {
    text-decoration: none;
    color: #1b1454;
    padding: 40px 20px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .7s;
}

.navbar .menu a:hover, a:focus {
    background-size: 100% 3px;
    color: #3fa9f5;
    font-weight: 500;
}

.mobile-right,
.navbar-mobile {
    display: none;
}

/* ---- MAIN CONTENT STYLES ---- */

#main {
    height: calc(100% - 100px - 50px);
    background-image: url('../img/main-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0 500px 500px 0;
    margin-right: 15px;
    color: #FFFFFF;
}

.container {
    background: #0000008c;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 500px 500px 0;
    justify-content: center;
    height: 100%;
}

#main h1 {
    font-size: 42.5px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
}

#main h3 {
    font-size: 15.5px;
    line-height: 32px;
    text-align: center;
}

/* ---- ABOUT US CONTENT STYLES ---- */

.wtf {
    height: 200px;
}

#about-us {
    padding-top: 120px; 
    margin: 120px 0px 60px 0px;
}

.about-us-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#about-us .about-us-background-title {
    background: #1b1454;
    height: 80px;
    width: 85%;
    border-radius: 50px 0px 0px 50px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#about-us .about-us-background-title p {
    margin-left: 74px;
}

#about-us .about-us-point {
    background-color: #3fa9f5;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 18px;
}

.about-us-background-right { 
    border-radius: 230px 0px 0px 230px;
    margin: 60px 0px 30px 15px;
}

.about-us-background-left {
    border-radius: 0px 210px 210px 0px;
    margin: 60px 0px 120px 0px;
}

.about-us-background {
    background: #f5f5f5;
    height: 430px;
    width: 99%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.about-us-container {
    display: flex;
    align-items: center;
}

.about-us-background img {
    width: 130px;
    padding-right: 30px;
}

.about-us-background h1 {
    font-size: 25px;
    line-height: 35px;
    
}

.about-us-background p {
    font-size: 1.4em;
    width: 34%;
    line-height: 37px;
}

.words-paul-santos {
    display: flex;
    justify-content: center ;
    text-align: center;
    font-size: 28px;
    line-height: 1.8;  
    font-weight: 500; 
}

/* ---- SERVICES STYLES ---- */

#services{
    padding: 120px 0 40px 0;
} 

.services-header {
    display: flex;
    align-items: center;
}

#services .services-background-title {
    background: #1b1454;
    height: 80px;
    width: 85%;
    border-radius: 0px 50px 50px 0px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#services .services-background-title p {
    margin-right: 74px;
}

#services .services-point {
    background-color: #3fa9f5;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 18px;
}

.services-backgrounds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0px 120px 0px;
}
.services-background {
    background: #f5f5f5;
    height: 630px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.services-background-left {
    border-radius: 200px 200px 200px 0px;
}

.services-background-center {
    border-radius: 200px 200px 200px 200px;
}

.services-background-right {
    border-radius: 200px 200px 0px 200px;
}

.services-contents-points {
    background-color: #1b1454;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-bottom: 12px;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.services-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-contents {
    display: flex;
    justify-content: center;
}
.services-contents p {
    font-size: 21px;
    line-height: 1.8;
    width: 70%;
    color: #000000; 
    font-weight: 300;
}

.services-title h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.5;
}

.center-text {
    text-align: center;
}

/* -------------- COMPANIES SECTION -------------- */

.companies-that-trust-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    margin: auto;
}

.companies-logos-container {
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
}

.companies-title h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;
}

.companies-line {
    background-color:#1b1454;
    height: 5px;
    width: 247px;
    margin-top: 12px;
}

.companies-logos-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companies-logos-row .logo-tandem {
    width: 250px;
    margin-top: 50px;
}

.companies-logos-row .logo-manora {
    width: 200px;
    margin-top: 80px;
}

.companies-logos-row .logo-tgi {
    width: 120px;
    margin-bottom: 90px;

}

.companies-logos-row .logo-central-oceans {
    width: 200px;
}


/* ---- CONTACT STYLES ---- */

#contact{
    margin: 60px 0px 90px 0px;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#contact .contact-background-title {
    background: #1b1454;
    height: 80px;
    width: 85%;
    border-radius: 50px 0px 0px 50px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 60px 0px;
}

#contact .contact-background-title p {
    margin-left: 74px;
}

#contact .contact-point {
    background-color: #3fa9f5;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 18px;
}

.contact-message {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
}

#contact-form input,
#contact-form textarea {
    border-style: none;
    background-color: #f5f5f5;
    padding: 30px;
    font-size: 1rem;
    border-radius: 30px;
    font-family: "poppins";
    font-weight: 500;
    margin: 8px 0px;
}

#contact-form .border-name {
    border-radius: 50px 50px 50px 0px ;
}

#contact-form .border-email {
    border-radius: 50px 50px 0px 50px ;
}

#contact-form .border-text {
    border-radius: 0px 0px 50px 50px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    outline: 2px solid #1b1454;
    outline-offset: -1px;
}
  
#contact-form textarea {
    width: 100%;
}
  
 #contact-form .boton {
    font-size: 1.2rem;
    background-color: #1b1454;
    color: #fff;
    border-style: none;
    border-radius: 50px 50px 50px 50px;
    padding: 1rem 5rem;
    cursor: pointer;
    margin: 45px 0px;
}

.flex-boton {
    display: flex;
    justify-content: center;
}
  
#contact-form .boton:hover {
    background-color: #1c83e2;
    transition: 0.4s ease-in;
    border-radius: 50px 50px 0px 50px;
}

  
#contact-form input.inline {
   width: 49.4%;
}
  
#contact-form {
    max-width: 70%;
    margin: auto;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.location img {
    color: #f5f5f5;
    width: 45%;
    filter: drop-shadow(3px 1px 3px rgb(200, 196, 196));
}
  
.location h1{
    font-size: 40px;
    margin-right: 100px;
    font-weight: 500;
    line-height: 50px;
} 

/* MAP STYLES */

.flex-map {
    display: flex;
    justify-content: center;
}


.map-container {
    position: relative;
}

.map-container .map {
    width: 100%;
    height: 100%;
}

.map-container .marker {
    position: absolute;
}


#map h1 {
    font-size: 36px;
    margin-right: 120px;
    font-weight: 500;
    line-height: 50px;
}

.text-mobile {
    display: none;
}

#map .layout {
    height: 30vw;
    width: 90%;
    border-radius: 300px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 7px 30px #b6b3b3; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#map .map-container {
    height: 77%;
    position: relative;
}

#map .map-container .marker {
    position: absolute;
}

.map-container img {
    width: 4.7%;
}

.marker-1 {
    top: 44%;
    left: 19.2%;
    cursor: pointer;
}

.marker-2 {
    top: 70%;
    left: 32%;
    cursor: pointer;
}

.marker-3 {
    top: 64.8%;
    left: 51.2%;
    cursor: pointer;
}

.marker-4 {
    top: 76%;
    left: 53%;
    cursor: pointer;
} 


/* ---- FOOTER STYLES ---- */

footer {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1b1454;
    color: #fff;
}

footer div:nth-child(1) {
    margin-right: 100px;
}

footer div:nth-child(2) {
    margin-left: 100px;
}

.footer-styles p {
    line-height: 25px;
}

.footer-flex {
    display: flex;
    align-items: flex-end;
}

.footer-flex p {
    margin-left: 15px;
}

.footer-flex img {
    width: 40px;
} 

@media (max-width: 430px) {
   
    .navbar {
        height: 5rem;
        margin-top: 5px;
        padding: 20px;
    }
    
    .navbar .logo-container img {
        width: 40px;
        padding: 0;
        margin-right: 12px;
    }
    
    .navbar .logo-container p {
        font-size: 0.8rem;
        margin-bottom: 10px;
        font-weight: 500px;
    }
    
    .navbar .menu {
        position: absolute;
        display: flex;
        display: none;
    }
    
    .navbar-mobile {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 1rem;
        box-shadow: 0px 9px 11px -1px rgb(0 0 0 / 25%);
        -webkit-box-shadow: 0px 9px 11px -1px rgb(0 0 0 / 25%);
        -moz-box-shadow: 0px 9px 11px -1px rgb(0 0 0 / 25%);
    }
    
    .navbar-mobile {
        display: none;
    }
    
    .navbar-mobile a {
        text-decoration: none;
        color: #1b1454;
    }
    
    #burger-menu,
    #close-menu {
        display: block;
        color: #1b1454;
        cursor: pointer;
        font-size: 30px;
    }
    
    #close-menu {
        display: none;
    } 
    
    .mobile-right {
        display: flex;
        align-items: center;
    }
    
    #change-language-mobile {
        background-color: #1b1454;
        margin-left: 1rem;
        border-radius: 50%;
        padding: 5px;
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
    }
    
    .mobile-right svg {
        width: 26px;
        color: inherit;
        color: #FFFFFF;
        position: absolute;
        top: 9px;
        left: 6px;
        cursor: pointer;
    }
    
    #main, .container {
        border-radius: 0;
        width: 100%;
    }
    
    #main h1 {
        font-size: 34.5px;
        padding: 0px 40px;
    }

    #main h3 {
        font-size: 14px;
        padding: 0px 70px;
    }

    #about-us .about-us-background-title {
        height: 60px;
        width: 75%;
        font-size: 30px;
    }
    
    #about-us .about-us-point { 
        width: 50px;
        height: 50px;
    }
   
    #about-us .about-us-background-title p {
        margin-left: 30px;
    }

    .about-us-background p {
        font-size: 17px;
        width: 75%;
        text-align: center;
        margin-bottom: 30px;
    }

    .about-us-container {
        display: flex;
        flex-direction: column;
    }

    .about-us-background img {
        width: 80px;
        padding-right: 0;
        margin: 15px 0 15px 0;
    }

    #about-us {
        padding-top: 80px;
        margin: 0 0 0 0; 
    }

    .about-us-background {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-us-background-right { 
        border-radius: 180px 180px 180px 180px; 
        margin: 40px 0px 30px 0px;
        height: 520px;
    }

    .about-us-background-left { 
        border-radius: 180px 180px 180px 180px; 
        margin: 40px 0px 30px 0px;
        height: 750px;
    } 

    .words-paul-santos {
        font-size: 19px;
        padding: 15px 26px;
    }
     
    #services {
        padding: 70px 0 25px 0;
    }
    
        #services .services-background-title {
        height: 60px;
        width: 75%;
        font-size: 30px;
    }
    
    #services .services-point { 
        width: 50px;
        height: 50px;
    }

    #services .services-background-title p {
        margin-right: 30px;
    }

    .services-backgrounds {
        flex-direction: column;
        margin: 20px 0px 36px 0px;
    }

    .services-background-right { 
        margin: 40px 0px 30px 0px;
        width: 80%;
        height: 570px;
    }

    .services-background-center { 
        margin: 40px 0px 30px 0px;
        width: 80%;
        height: 570px;
    }

    .services-background-left {  
        margin: 40px 0px 30px 0px;
        width: 80%;
        height: 570px;
    }

    .services-contents p {
        font-size: 18px;
        width: 80%;
    }

    .companies-that-trust-us {
        flex-direction: column;
    }

    .companies-logos-row .logo-tandem {
        width: 140px;
        margin-top: 0;
    }
    
    .companies-logos-row .logo-manora {
        width: 110px;
        margin-top: 0px;
    }
    
    .companies-logos-row .logo-tgi {
        width: 60px;
        margin-bottom: 0px;
    }
    
    .companies-logos-row .logo-central-oceans {
        width: 150px;
    }

    
    .companies-logos-container {
        width: 100vw;
        display: flex;
        height: 250px;
    }

    .companies-logos-row {
        width: 50%;
    }

    .company-icon-container {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .companies-title h1 {
        font-size: 30px;
        text-align: center;
        line-height: 42px;
    }

    .companies-title {
        margin-bottom: 40px;
    }

    .companies-line {
        background-color:#1b1454;
        width: 223px;
        margin-top: 12px;
    }

    #contact .contact-background-title {
        height: 60px;
        width: 75%;
        font-size: 30px;
    }
    
    #contact {
        margin: 0 0 90px 0px;
    }
    
    #contact .contact-point { 
        width: 50px;
        height: 50px;
    }
   
    #contact .contact-background-title p {
        margin-left: 30px;
    }

    .contact-background p {
        font-size: 17px;
        width: 75%;
        text-align: center;
        margin-bottom: 30px;
    }

    .contact-message {
        font-size: 24px;
    }

    .space-between {
        display: block;
    }

    #contact-form input.inline {
        width: 100%;
    }

    #contact-form .border-email {
        border-radius: 5px;
    }

    #contact-form .border-name {
        border-radius: 35px 35px 0px 0px;
    }
   
    #contact-form .border-text {
        border-radius: 0px 0px 35px 35px;
    }

    #contact-form {
        width: 77%;
    }


    .text-desktop {
        display: none;
    }

    .text-mobile {
        display: block;
        font-size: 24px;
        text-align: center;
        margin-top: 100px;
    }

    #map .layout {
        height: 130vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #map .map-container {
        height: 600%;
        width: 93%;
    }
    
    .map-container .map {
        width: 100%;
        height: 83%;
    }

    .map-container img {
        width: 6.7%;
    }

    .marker-1 {
        top: 34.8%;
        left: 17.7%;
    }

    .marker-2 {
        top: 50%;
        left: 30.4%;
    }

    .marker-3 {
        top: 47%;
        left: 49.9%;
    }

    .marker-4 {
        top: 54%;
        left: 52.4%;
    }

    .footer-flex p {
        display: none;
    }

    footer div:nth-child(1) {
        margin-right: 0;
    }

    .footer-styles p {
    font-size: 14px;
    }

    footer div:nth-child(2) {
        margin-left: 23px;
    }
    
}


